@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;
}





/* ---- Header ---- */
main{
    margin: 0 40px;
}
.navbar {
    color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 40px;
    border-bottom: 1px solid #6DE4EA;
}

.navbar h2 {
    font-family: "Cinzel Decorative", serif;
    color: #18A0FB;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #18A0FB;
}

.nav-search {
    display: flex;
}

button {
    background-color: #18A0FB;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
}

input {
    border: 1px solid #18A0FB;
    border-radius: 0 5px 5px 0;
}


/* --- Main --- */


/* --- footer ---*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: #000000CC;
    padding: 40px;
    margin: 60px 0 0 0 ;
}

footer h2{
    color: #fff;
    font-family: "cinzel decorative";
}
footer a{
    font-weight: 600;
    color: #fff;
}
footer p{
    color: #ffffff55;
}