@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}





/* ---- Header ---- */

.navbar {
    color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 40px;
    border-bottom: 1px solid #6DE4EA;
}

.navbar h2 {
    font-family: "Cinzel Decorative", serif;
    color: #18A0FB;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #18A0FB;
}

.nav-search {
    display: flex;
}

button {
    background-color: #18A0FB;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
}

input {
    border: 1px solid #18A0FB;
    border-radius: 0 5px 5px 0;
}


/* --- Main --- */

.main {
    margin: 0 40px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 0 0;
}

.post-title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 20px 0;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title h3{
    margin: 0;
    padding-top: 20px;
}


.author{
    color: #6DE4EA;
}

.desc-container{
    padding: 0 20px;
    text-align: justify;
}


.inf-container{
    display: flex;
    text-align: start;
    align-items: flex-start;
    padding-top: -50px;
}
.inf-container a{
    padding: 0 5px 0 0;
}
.inf-container p{
    align-items: flex-start;
}



.post-container {
    width: 400px;
    height: auto;
    border: 1px #000000 solid;
    border-radius: 5px;
}

.post-container p{
    margin: 0;
    padding: 0 20px 20px 20px;
}

.img-container {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;

}
.img-container img{
    width: 100%;
    height: 100%;
}


/* --- footer ---*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: #000000CC;
    padding: 40px;
    margin-top: 60px  ;
}

footer h2{
    color: #fff;
    font-family: "cinzel decorative";
}
footer a{
    font-weight: 600;
    color: #fff;
}
footer p{
    color: #fff;
}